@page "/sample-data"

@using Jiper.RavenDB.SampleApp.DotNet8.Model
@using Raven.Client.Documents
@using Raven.Client.Documents.Session

@inject IDocumentStore Store

<PageTitle>Sample Data</PageTitle>

<h1>Sample Data</h1>

<div class="btn-toolbar mb-3">
    <button class="btn btn-primary" @onclick="AddSampleItem">Add sample item</button>
</div>

@if (items == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (items.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No items</div>
}

@code {

    private ICollection<SampleDocument>? items;

    private async Task AddSampleItem()
    {
        using var session = Store.OpenAsyncSession();

        var sampleDocument = new SampleDocument(Guid.NewGuid().ToString(), $"Sample document {Random.Shared.Next(1, 100)}");
        await session.StoreAsync(sampleDocument);
        await session.SaveChangesAsync();

        await LoadItems(session);
    }

    protected override async Task OnInitializedAsync()
    {
        using var session = Store.OpenAsyncSession();

        await LoadItems(session);
    }

    private async Task LoadItems(IAsyncDocumentSession session)
    {
        items = await session.Query<SampleDocument>().ToListAsync();
    }

}